<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        .title {
            color: #424B54;
        }
        .container-fluid {
            flex: 20%;
            padding: 10px;
            margin: 5px;
            background-color: #93A8AC;
            inline-size: 100%;
        }
    </style>
</head>
<body>
    <p class="title">Add new customer</p>

    <div class="container-fluid">
           <form action="#" method="POST">
            <p><label>
                <input type="username" name="username" placeholder="Enter username" value="{{ username if username }}" />
                <input type="phone_number" name="phone_number" placeholder="Enter phone number" value="{{ phone_number if phone_number }}" />
                <input type="submit" value="submit" />
            </label></p>
           </form>


    </div>

</body>


</html>