<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        body {
            background-color: #F1FFE7;
        }
        .title {
            color: #1A1B41;
            font-family: "Times New Roman", Times, serif;
            font-size: 2em;
        }
        .container-fluid {
            flex: 20%;
            padding: 40px;
            margin: 5px;
            background-color: #C2E7DA;
            inline-size: 100%;
        }

    </style>
</head>
<body>
    <p class="title">Login</p>

    <div class="container-fluid">
           <form action="#" method="POST">
               <div class="input">
                   <label for="username"><strong>Username</strong></label>
                   <input type="text" placeholder="Enter Username" name="username" required> <br />

                   <label for="password"><strong>Password</strong></label>
                   <input type="password" placeholder="Enter Password" name="password" required> <br />

                   <input type="submit" value="submit" />
               </div>
           </form>


    </div>

</body>


</html>